.jumbotron {
    border: none;
    border-radius: 0;
    background-image:url(https://cdn.ubexs.com/static/landing-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
div.waves-container-homepage-a {
    width: 100%;
    margin-top: -24rem;
}
div.waves-container-homepage-a > img {
    min-width: 100%;
}
img.homepage-expand-on-small {
    width:100%;
    margin:0 auto;
    display:block;
    max-width:270px;
    transform:rotate(7deg);
    opacity:0.95;
}
div.navBarMobileBottom {
    display: none!important;
}
@media (max-width: 965px) {
    div.waves-container-homepage-a {
        width: 100%;
        margin-top: -17rem;
    }
    img.homepage-expand-on-small {
        margin-top: 2.5rem;
        max-width: 200px;
    }
}
div.row.homepage-top-div {
    padding-top: 8rem;
}
div.row.homepage-top-div {
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 690px) {
    div.waves-container-homepage-a {
        width: 100%;
        margin-top: -11rem;
    }
    div.row.homepage-top-div {
        padding-top: 2rem;
    }
}
@media (max-width: 430px) {
    div.waves-container-homepage-a {
        width: 100%;
        margin-top: 0;
    }
}
span.h-underline {
    border-bottom: 1px solid white;
}
a.homepage-a {
    transition: all 0.15s;
    color: inherit;
    border-bottom: 1px solid;
}
a.homepage-a:hover {
    transition: all 0.15s;
    text-decoration: none;
    border-bottom-color: rgba(0,0,0,0);
    opacity: 0.25;
}
div#cookieConsentInfoModal {
    z-index: 9999999999;
}
